.section-heading-underline.career{
  background-color: #c8edff;
}

.company-name {
  cursor: pointer;
  color: #000096;
}

.section-card-right-item {
  h3 {
    font-size: 1.5rem;
    color: #404040;
    font-weight: 400;
  }
  h4 {
    font-size: 1rem;
    color: #808080;
    margin-bottom: 1.5rem;
    font-weight: 400;
  }
}

.career-card-right-responsibilities {
  color: #505050;

  li {
    display: flex;
    align-items: baseline;
    column-gap: 0.5rem;
  }
  
  p {
    padding: 0.2rem 0;
    font-family: 'Maven Pro', sans-serif;
  }
}
