.introduction-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  color: #212121;
  height: 85vh;

  h1 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 4rem;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }
  p,.prompt {
    font-size: 2rem;
  }

  .comment-container {
    display: flex;
    align-items: center;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #404040;
    overflow: hidden;
    white-space: nowrap;

    animation: typing 3s steps(40, end);
    -webkit-animation: typing 3s steps(40, end);

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
    @-webkit-keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }

  .prompt {
    color: #505050;
    animation: blinker 1s step-start 0s infinite;
    -webkit-animation: blinker 1s step-start 0s infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0.0;
    }
  }
  @-webkit-keyframes blinker {
    50% {
      opacity: 0.0;
    }
  }

  @media (max-width: 768px) {
    padding-left: 10%;

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p,.prompt {
      font-size: 1rem;
    }
  }
}