.section-heading-underline.projects {
  background-color: #d8c4ff;
}

.project-name-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  .github-icon-container {
    width: 24px;
    height: 24px;

    cursor: pointer;
  }
}

.project-stacks-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
  padding: 0.5rem 0;

  li {
    width: fit-content;
    border-radius: 25px;
    background-color: #011e61;
    font-size: 1rem;
    padding: 3px 12px;
    color: #f1ecd5;
    white-space: pre;
    opacity: .8;
  }
}

.section-card-right-item.projects.image-container {
  img {
    max-width: 100%;
  }
}

.section-card-right-item.projects.description {
  color: #404040;
  font-size: 1.2rem;
  line-height: 1.8;
}

.section-card-left.projects {
  min-height: 80vh;

  @media (max-width: 912px) {
    min-height: fit-content;
  }
}
.section-card-right-item.projects:last-child {
  min-height: 80vh;

  img:last-child {
    padding-bottom: 20vh;
  }
}
