.app-container {
  width: 90%;
  max-width: 1382px;
  min-height: 100vh;
  margin-top: 5vh;
  background-color: #fff;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.2);

  @media (max-width: 912px) {
    width: 95%;
    margin-top: 2vh;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 1536px) and (min-width: 769px) {
}

@media (max-width: 1920px) and (min-width: 1537px) {
}

@media (min-width: 1921px) {
}

.section-container {
  height: fit-content;
  padding: 0 5rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.section-heading {
  position: sticky;
  top: 0;
  padding-top: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  background-color: #fff;
  z-index: 2;

  @media (max-width: 912px) {
    height: 16vh;
  }
}

.section-divider {
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #c8edff, #d8c4ff, #ffcaca, #e7fdd1, #ffffce);
  margin: 1rem 0;
  border-radius: 10px;
}

.section-heading-underline {
  width: 0;
  height: 5px;
  border-radius: 5px;
  transition: width .2s;

  &.enabled {
    width: 100%;
  }

}

.section-list {
  list-style-type: none;
  margin-top: calc(16vh - 12px);
}

.section-card-container {
  display: flex;
  
  @media (max-width: 912px) {
    flex-direction: column;
  }
}

.section-card-left {
  width: 40%;
  align-self: flex-start;
  padding-right: 5rem;

  position: sticky;
  top: 30vh;
  min-height: 30vh;

  @media (max-width: 912px) {
    width: 100%;
    top: 15vh;
    background-color: #fff;
    min-height: fit-content;

    z-index: 1;
    padding-right: 0;
    padding-top: 2rem;
  }
}

.section-card-right {
  width: 60%;
  list-style-type: none;

  @media (max-width: 912px) {
    width: 100%;
  }
}

.section-card-right-item {
  min-height: 30vh;
  padding-bottom: 10vh;

  @media (max-width: 912px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: fit-content;
  }
}
.section-card-right-item:last-child {
  align-self: flex-start;
  position: sticky;
  top: 30vh;
  min-height: 30vh;
  padding-bottom: 0;

  z-index: 0;
}
