* {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  box-sizing: border-box;

  font-family: 'Kanit', sans-serif;
}

body {
  font-size: 16px;
  background: linear-gradient(to bottom, #eef2f4, #f0eef4, #f4eeee, #f1f4ee, #f4f4ee, );
	background-size: 100%;
	background-repeat: no-repeat;
  overscroll-behavior-y: none;
}

#root {
  display: flex;
  width: 100vw;
  height: 500vh;
  align-items: center;
  flex-direction: column;
}

.app-container {
  width: 70vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: sticky;
  top: 5vh;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}