* {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
  background: linear-gradient(to bottom, #c8edff, #d8c4ff, #ffcaca, #e7fdd1, #ffffce);
	background-size: 100%;
	background-repeat: no-repeat;
  overscroll-behavior-y: none;
}

#root {
  display: flex;
  justify-content: center;
}
